body{
    background-color: #f9f9f8 !important;

}
.connter{
    width: 950px;
    margin: 0 auto;
}
.register_top{
    height: 110px;
}
.register_top .connter{
    height: 110px;
}

.register_top .connter img{
    float: left;
    margin-top: 29px;
}

.register_center{
    height: 666px;
}
.register_center .connter{
    height: 666px;
    background: #fff;
}
.register_center .connter .main{
    width: 100%;
    height: 666px;
    background: #fff;
    border: 1px solid #e1dfda;
}


.register_center .connter .main .center_top{
    height: 30px;
    border-bottom: 1px solid #e1dfda;
    padding: 10px 20px;
    line-height: 30px;
}
.register_center .connter .main .center_top .title_info{
    float: left;
    font-size: 16px;
    font-family: 'Microsoft YaHei';
    color: #ff002a;
}
.register_center .connter .main .center_top .title_login{
    float: right;
    color: #63625d;
    font-size: 14px;
}


.register_center .connter .main .center_bottom{
    padding: 50px 0 74px 191px;
}
.register_center .connter .main .center_bottom .loginPerfect-data{
    padding: 10px 0px;
    width: 759px;
    height: 36px;
}
.register_center .connter .main .center_bottom .loginPerfect-data .name{
    float: left;
    width: 136px;
    font-size: 15px;
    color: #333333;
    float: left;
    text-align: right;
    line-height: 36px;
}
.register_center .connter .main .center_bottom .loginPerfect-data .loginPerfect-input{
    float: left;
    width: 305px;
    padding-left: 5px;
    display: inline;
}
.register_center .connter .main .center_bottom .loginPerfect-data .loginPerfect-input input{
    line-height: 34px;
    font-size: 16px;
    vertical-align: middle;
    padding: 0 10px 0 30px;
    text-indent: 0px;
    width: 260px;
    font-size: 12px;
    color: #000;
    border-radius: 2px;
    border: 1px solid #cccccc;
    background: #ffffff url(../images/register17.png) no-repeat 10px 9px;

}
.register_center .connter .main .center_bottom .loginPerfect-data .loginPerfect-input .icon1{
    background: #ffffff url(../images/register17.png) no-repeat 10px 9px;
}
.register_center .connter .main .center_bottom .loginPerfect-data .loginPerfect-input .icon2{
    background: #ffffff url(../images/register17.png) no-repeat 10px -52px;;
}
.register_center .connter .main .center_bottom .loginPerfect-data .loginPerfect-input .icon3{
    background: #ffffff url(../images/register17.png) no-repeat 10px -180px;
}
.register_center .connter .main .center_bottom .loginPerfect-data .loginPerfect-input .icon4{
    background: #ffffff url(../images/register17.png) no-repeat 10px -287px;
}


.register_center .connter .main .center_bottom .loginPerfect-data .put_in{
    width: 205px;
}
.register_center .connter .main .center_bottom .loginPerfect-data .put_in input{
    width: 160px;
}
.register_center .connter .main .center_bottom .loginPerfect-data .input_button{
    float: left;
    height: 36px;
    margin-left: 10px;
    width: 90px;
}
.register_center .connter .main .center_bottom .loginPerfect-data .input_button button{
    height: 36px;
    width: 90px;
    line-height: 36px;
    font-size: 12px;
    background-color: #f5f5f5;
    border: 1px solid #c8c8c8;
}
.register_center .connter .main .center_bottom .loginPerfect-data .prompt{
    float: left;
    height: 36px;
    /* width: 10px; */
    margin-left: 10px;
    display: none;
}
.register_center .connter .main .center_bottom .loginPerfect-data .prompt i img{
    float: left;
    width: 16px;
    line-height: 0px;
    height: 16px;
    margin-top: 10px;
}

.register_center .connter .main .center_bottom .loginPerfect-data .prompt span{
    padding-left: 6px;
    font-size: 12px;
    line-height: 36px;
}
.register_center .connter .main .center_bottom .loginPerfect-remember{
    height: 55px;
    padding-left: 140px;
    line-height: 18px;
    overflow: hidden;
    padding-top: 5px;
    color: #666666;
    background: #fff;
}
.register_center .connter .main .center_bottom .loginPerfect-remember span{
    margin-left: 20px;
    font-size: 12px;
}
.register_center .connter .main .center_bottom .loginPerfect-remember input{
    /* background: url(../images/register17.png) no-repeat 0 -473px; */
    /* border: none; */
    width: 13px;
    height: 13px;
}
.register_center .connter .main .center_bottom .loginPerfect-remember a{
    font-size: 12px;
    color: #0088ca !important;
}
.register_center .connter .main .center_bottom .register-button{
    padding-left: 140px;
}
.register_center .connter .main .center_bottom .register-button button{
    width: 300px;
    margin-left: 6px;
    color: #ffffff;
    background: #e6133c;
    font-size: 16px;
    height: 36px;
    border-radius: 2px;
    border: 0;
}
.register_center .connter .main .center_bottom .loginPerfect-data #testSpan{
    display: inline-block;
    margin-top: 8px;
    display: none;
}

.register_center .connter .main .center_bottom .loginPerfect-data #testSpan span{
    width: 30px;
    height: 20px;
    display: block;
    float: left;
    background-color: gray;
    // margin-top: 5px;
    margin-left: 5px;
    color: white;
    text-align: center;
    line-height: 20px;
    font-size: 12px;
}

.register_center .connter .main .center_bottom .loginPerfect-data #testSpan .active{
    background-color: orange;
    color: #000;
}


.footer {
    height: 179px;
    padding-top: 20px;
    background-color: #f9f9f8;
}

.footer .connter {
    height: 179px;
}


.footer .connter .bottom {
    clear: both;
    padding: 15px 0 0 0;
    height: 178px;
}

.footer .connter .bottom div {
    text-align: center;
}

.footer .connter .bottom .bt_nav {
    height: 24px;
    line-height: 24px;
    font-size: 12px;
    color: rgb(29, 28, 28);
}

.footer .connter .bottom .bt_nav a {
    height: 24px;
    line-height: 24px;
    font-size: 12px;
    color: rgb(29, 28, 28);
}

.footer .connter .bottom .copyright {
    color: #999;
    font-size: 12px;
    height: 24px;
    line-height: 24px;
}

.footer .connter .bottom .copyright span {
    margin: 0 10px;
}

.footer .connter .bottom .copyright a {
    font-size: 12px;
    color: rgb(29, 28, 28);
}

/*  */
.footer .connter .bottom .bt_a a {
    display: inline-block;
    height: 21px;
    line-height: 21px;
    font-size: 12px;
    color: rgb(54, 54, 54);
    padding-top: 5px;
}

.footer .connter .bottom .police {
    height: 27px;
    padding: 10px 0 20px 0;
    margin: 0 auto;

}

.footer .connter .bottom .police a {
    display: inline-block;
    text-decoration: none;
    height: 20px;
    line-height: 20px;
    margin-right: 10px;
}

.footer .connter .bottom .police a img {
    float: left;
    width: 21px;
    height: 21px;
}

.footer .connter .bottom .police a span {
    float: left;
    display: inline-block;
    font-size: 12px;
    margin-left: 5px;
    padding: 0 8px;
}